body,
html {
  height: 100%;
  --header-public-h: 48px;
  --header-admin-h: 48px;
  --primary: #8f5c9e;
}

.app-public {
  --header-h: var(--header-public-h);
}

.content-public {
  padding-top: var(--header-h);
}

.app-admin {
  --header-h: var(--header-admin-h);
  padding-top: var(--header-h);
}

.header-admin {
  height: var(--header-h);
}

.form-item-error {
  color: red;
  margin-top: 0;
  margin-bottom: 3px;
}

/* .grid-wrapper > div {
  height: 100%;
} */

.tooltip-light .MuiTooltip-tooltip {
  background: #fff;
  box-shadow: 1px 1px 5px #00000066;
  color: #000;
}

.tooltip-light .MuiTooltip-arrow {
  color: #fff;
}

.tooltip-light[data-popper-placement*="right"] .MuiTooltip-arrow::before {
  box-shadow: -1px 1px 0px #00000033;
}

.MuiTypography-h2 {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.custom-title {
  letter-spacing: 0.07em;
  font-weight: 700 !important;
}

h5.custom-title {
  font-size: 1rem !important;
}

.custom-title::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 18px;
  margin-right: 6px;
  background-color: var(--primary);
  transform: translateY(1px);
}

h5.custom-title::before {
  width: 4px;
  height: 15px;
  margin-right: 6px;
  transform: translateY(1px);
}

.leaflet-marker-icon {
  background: transparent;
  border: none;
}

.leaflet-marker-icon .marker-content {
  border-radius: 1px;
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background: #fff;
  color: var(--primary);
  box-shadow: 0px 1px 3px 0px #00000033;
}

.leaflet-marker-icon .marker-arrow {
  overflow: hidden;
  position: absolute;
  width: 1.4em;
  height: 0.7em;
  box-sizing: border-box;
  color: #fff;
  left: 50%;
  bottom: 0;
  margin-bottom: -0.7em;
  transform: translateX(-50%);
}

.leaflet-marker-icon .marker-arrow:before {
  content: "";
  margin: auto;
  display: block;
  width: 100%;
  height: 200%;
  background: currentColor;
  transform: rotate(45deg) translate(-50%, -50%);
  box-shadow: 1px 1px 2px 0px #00000033;
}

.leaflet-marker-icon.selected .marker-content {
  color: #fff;
  background: var(--primary);
}
.leaflet-marker-icon.selected .marker-arrow {
  color: var(--primary);
}

.MuiAutocomplete-inputRoot {
  min-height: 56px;
}

.MuiAutocomplete-inputRoot .MuiAutocomplete-input:not(:focus) {
  padding: 0;
  min-width: auto;
}

.MuiAutocomplete-inputRoot .MuiAutocomplete-tag {
  max-width: calc(100% - 34px);
}

.MuiBreadcrumbs-li > * {
  line-height: 0;
}

.MuiBreadcrumbs-li > a,
.MuiBreadcrumbs-li > span {
  font-size: 0.9rem !important;
  font-weight: 700 !important;
}

.swiper {
  --swiper-theme-color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  font-weight: bold;
}
